/node_modules
/public/hot
/public/storage
/storage/*.key
/public/js/
/public/css/
/vendor
/public/mix-manifest.json
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.vagrant
after.sh
aliases
Vagrantfile
_ide_helper.php
*.log
/storage/debugbar
/.idea
resources/js/tools/routes-data.js
