#create-organization-application,
#edit-organization-application #color-section {
  .color-container {
    display: inline-block;
  }

  .color {
    border: 1px solid #eeeeee;
    display: inline-block;
    font-size: 12px;
    height: 95px;
    padding: 10px;
    vertical-align: top;
    width: 95px;
  }
}
